.Rproj.user
.Rhistory
.RData
.Ruserdata
big-data
D-Apul/output/04-Apulcra-hisat
D-Apul/output/03-kallisto
D-Apul/data/08-Apul-sRNAseq-trimming/raw-reads
D-Apul/output/08-Apul-sRNAseq-trimming/trimmed-reads
D-Apul/output/09-Apul-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
D-Apul/output/09-Apul-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
D-Apul/output/13-Apul-sRNAseq-ShortStack/ShortStack_out/*.bam*
D-Apul/output/13-Apul-sRNAseq-ShortStack/ShortStack_out/*.bw
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.fa
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.ebwt
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.fna.gz
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.fna
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.gff
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.faa
D-Apul/code/.snakemake
D-Apul/output/12-Apul-sRNAseq-MirMachine/.snakemake/
D-Apul/output/10-Apul-sRNAseq-BLASTn
D-Apul/output/14-Apul-RNAseq-kallisto/trimmed-reads
D-Apul/output/14-Apul-RNAseq-kallisto/kallisto/*idx
D-Apul/output/14-Apul-RNAseq-kallisto/kallisto/kallisto_quant*



E-Peve/data/Porites_evermanni_v1.fa
E-Peve/data/Peve/ncbi_dataset/data/Porites_evermanni*
E-Peve/data/06-Peve-sRNAseq-trimming
E-Peve/data/*.ebwt
E-Peve/data/*.fna
E-Peve/output/06-Peve-sRNAseq-trimming/raw-reads
E-Peve/output/06-Peve-sRNAseq-trimming/trimmed-reads
E-Peve/output/06.2-Peve-sRNAseq-trimming-31bp-fastp-merged/trimmed-reads
E-Peve/output/09-Peve-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
E-Peve/output/09-Peve-sRNAseq-miRTrace-31bp-fastp-merged/qc_passed_reads.all.collapsed
E-Peve/output/10-Peve-sRNAseq-BLASTn
E-Peve/output/10.2-Peve-sRNAseq-BLASTn-31bp-fastp-merged
E-Peve/output/11.2-Peve-sRNAseq-miRdeep2-31bp-fastp-merged/*.arf
E-Peve/output/11.2-Peve-sRNAseq-miRdeep2-31bp-fastp-merged/*.fasta
E-Peve/output/11.2-Peve-sRNAseq-miRdeep2-31bp-fastp-merged/dir_prepare*
E-Peve/output/11.2-Peve-sRNAseq-miRdeep2-31bp-fastp-merged/pdfs_15_04_2024_t_15_47_40
E-Peve/output/12-Peve-RNAseq-kallisto/trimmed-reads
E-Peve/output/12-Peve-RNAseq-kallisto/kallisto/*idx
E-Peve/output/12-Peve-RNAseq-kallisto/kallisto/kallisto_quant*

F-Pmea/data/08-Pmea-sRNAseq-trimming/raw-reads
F-Pmea/output/08-Pmea-sRNAseq-trimming/trimmed-reads
F-Pmea/data/sRNAseq-raw_reads
F-Pmea/output/08.2-Pmea-sRNAseq-trimming-31bp-fastp-merged/trimmed-reads
F-Pmea/output/09-Pmea-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
F-Pmea/output/09-Pmea-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
F-Pmea/output/10-Pmea-sRNAseq-BLASTn
F-Pmea/output/10.2-Pmea-sRNAseq-BLASTn-31bp-fastp-merged
F-Pmea/data/Pmea
F-Pmea/code/mirdeep_runs
F-Pmea/output/11-Pmea-sRNAseq-miRdeep2/collapsed-reads-all-mirdeep2.fasta
F-Pmea/output/11-Pmea-sRNAseq-miRdeep2/pdfs_30_11_2023_t_09_23_06
F-Pmea/output/11-Pmea-sRNAseq-miRdeep2/dir_prepare_signature1701365432
F-Pmea/output/11-Pmea-sRNAseq-miRdeep2/mirdeep_runs/run_30_11_2023_t_09_23_06/output.mrd
F-Pmea/output/11-Pmea-sRNAseq-miRdeep2/Pmea-mirdeep2-mapping.arf
F-Pmea/output/12-Pmea-sRNAseq-MirMachine/.snakemake/
F-Pmea/output/13-Pmea-sRNAseq-ShortStack/ShortStack_out/*.bam*
F-Pmea/output/13-Pmea-sRNAseq-ShortStack/ShortStack_out/*.bw
F-Pmea/output/14-Pmea-RNAseq-kallisto/trimmed-reads
F-Pmea/output/14-Pmea-RNAseq-kallisto/kallisto/*idx
F-Pmea/output/14-Pmea-RNAseq-kallisto/kallisto/kallisto_quant*



.DS_Store
**/.DS_Store
E-Peve/output/05-lncRNA-discovery/*
./Apul-mirdeep2-mapping.arf
./collapsed-reads-all-mirdeep2.fasta
./dir_mapper_seq_collapsed-reads-all.fasta_1723352450_08_11_2023_t_06_46_29/reads_no_short.fa
./dir_prepare_signature1699484226/reads_vs_precursors.arf.tmp
./dir_prepare_signature1699484226/precursors.fa
./dir_prepare_signature1699484226/reads_vs_precursors.arf
./dir_prepare_signature1699484226/precursors.ebwt.rev.1.ebwt
./dir_prepare_signature1699484226/precursors.ebwt.1.ebwt
./dir_prepare_signature1699484226/reads_vs_precursors.arf.tmp2
./dir_prepare_signature1699484226/reads_vs_precursors.bwt
./mirdeep_runs/run_08_11_2023_t_14_47_36/output.mrd

*.bam
*.bw
*.fastq.gz
