.Rproj.user
.Rhistory
.RData
.Ruserdata
big-data
D-Apul/output/04-Apulcra-hisat
D-Apul/output/03-kallisto
D-Apul/data/08-Apul-sRNAseq-trimming/raw-reads
D-Apul/output/08-Apul-sRNAseq-trimming/trimmed-reads
D-Apul/output/09-Apul-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
D-Apul/output/09-Apul-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
D-Apul/output/13-Apul-sRNAseq-ShortStack/ShortStack_out/*.bam*
D-Apul/output/13-Apul-sRNAseq-ShortStack/ShortStack_out/*.bw
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.fa
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.ebwt
D-Apul/data/Amil/ncbi_dataset/data/GCF_013753865.1/*.fna.gz
D-Apul/code/.snakemake
D-Apul/output/12-Apul-sRNAseq-MirMachine/.snakemake/
D-Apul/output/10-Apul-sRNAseq-BLASTn
E-Peve/output/06-Peve-sRNAseq-trimming/raw-reads
E-Peve/output/06-Peve-sRNAseq-trimming/trimmed-reads
F-Pmea/data/08-Pmea-sRNAseq-trimming/raw-reads
F-Pmea/output/08-Pmea-sRNAseq-trimming/trimmed-reads
F-Pmea/output/09-Pmea-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
F-Pmea/output/09-Pmea-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
F-Pmea/output/10-Pmea-sRNAseq-BLASTn

E-Peve/output/09-Peve-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
E-Peve/output/09-Peve-sRNAseq-miRTrace/qc_passed_reads.all.collapsed
E-Peve/output/10-Peve-sRNAseq-BLASTn

.DS_Store
**/.DS_Store
E-Peve/output/05-lncRNA-discovery/*
./Apul-mirdeep2-mapping.arf
./collapsed-reads-all-mirdeep2.fasta
./dir_mapper_seq_collapsed-reads-all.fasta_1723352450_08_11_2023_t_06_46_29/reads_no_short.fa
./dir_prepare_signature1699484226/reads_vs_precursors.arf.tmp
./dir_prepare_signature1699484226/precursors.fa
./dir_prepare_signature1699484226/reads_vs_precursors.arf
./dir_prepare_signature1699484226/precursors.ebwt.rev.1.ebwt
./dir_prepare_signature1699484226/precursors.ebwt.1.ebwt
./dir_prepare_signature1699484226/reads_vs_precursors.arf.tmp2
./dir_prepare_signature1699484226/reads_vs_precursors.bwt
./mirdeep_runs/run_08_11_2023_t_14_47_36/output.mrd
