.Rproj.user
.Rhistory
.RData
.Ruserdata
big-data
D-Apul/output/04-Apulcra-hisat
D-Apul/output/03-kallisto
D-Apul/data/08-Apul-sRNAseq-trimming/raw-reads
D-Apul/output/08-Apul-sRNAseq-trimming/trimmed-reads
.DS_Store
**/.DS_Store
