15-Apul-hisat
05.99-lncRNA/*sam
05.99-lncRNA/*bam
05.99-lncRNA/*bam*
13-Hisat/*gtf

24-Apul-lncRNA-rediscovery/*index*
24-Apul-lncRNA-rediscovery/*sam
24-Apul-lncRNA-rediscovery/*bam
24-Apul-lncRNA-rediscovery/*bam*
24-Apul-lncRNA-rediscovery/*candidates.fasta
24-Apul-lncRNA-rediscovery/*merged.gtf
24-Apul-lncRNA-rediscovery/*annotated.gtf